@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('./img/winter-moutain-4910186_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A8C;
    padding: 10px 25px;
}

.logo, li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ecf0f1;
}

.logo:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: #0088a9;
}

.search-input-box {
    width: 600px;
    height: 30px;
    position: relative;
}

.search-input-form {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.search-input-form input {
    position: absolute;
    padding-left: 35px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFFE6;

    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

form.search-input-form button {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 2px;
    border: none;
    background: none;
}

.search-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

nav, ul {
    display: flex;
    align-items: center;
}

li.nav_links {
    list-style-type: none;
    padding: 0 20px;
}

li.nav_links a:hover, footer a:hover {
    transition: all 0.3s ease-out;
    color: 	#0088a9;
}

button.ctc {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button.ctc:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24252A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ecf0f1;
}

